RewriteEngine On

# Redirect all HTTP requests to HTTPS
# RewriteCond %{HTTPS} !=on
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove index.php from URLs
RewriteCond %{REQUEST_URI} ^/index\.php
RewriteRule ^index\.php(.*)$ https://%{HTTP_HOST}$1 [R=301,NE,L]

# Existing rules to redirect requests to index.php internally
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
